.articles{
    display: block;
    margin-top: 110px;
}

.card{
    display: block;
    padding: 25px;
    background-color: white;
    color: #0F1217;
    max-width: 100%;
    overflow: hidden;
    border: 1px solid #252930; 
    border-radius: 25px;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.2s;
}

.card:hover{
    transform: scale(105%) rotate(-1deg);
}

.card h3, .card p{
    margin: 0;
}

.card h3{
    font-size: 19px;
    margin-top: 33px;
    line-height: 1.5em;
    max-height: 3em;
    overflow: hidden;
}

.card p{
    margin-top: 13px;
    line-height: 1.5em;
    max-height: 4.5em;
    overflow: hidden;
}

.card .featured-image{
    height: 45%;
    border-radius: 25px;
    object-fit: cover;
}

.meta-data{
    display: flex;
    align-items: center;
    margin-top: auto;
    gap: 20px;
}

.meta-data p{
    margin: 0;
}

.dot{
    --dot-size: 5px;
    width: var(--dot-size);
    height: var(--dot-size);
}


/* grid layout */
.articles.grid-layout{
    display: grid;
    grid-auto-rows: 440px;
    grid-template: 440px / repeat(auto-fit, minmax(350px, 1fr));
    gap: 35px;
}

.articles.grid-layout .card .content-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.articles.grid-layout .card .main-data{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}


 /* list layout */
.articles.list-layout{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.articles.list-layout .card .content-wrapper{
    height: 100%;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 3fr;
    gap: 35px;
}

.articles.list-layout .article-description{
    display: flex;
    flex-direction: column;
}

.articles.list-layout .meta-data{
    padding-top: 10px;
}

.articles.list-layout .featured-image{
    width: 100%;
    height: 100%;
}