*{
    box-sizing: border-box;
}

html{
    --body-side-padding: 200px;
    --background-color: #232830;

    font-family: "Poppins", sans-serif;
    background-color: var(--background-color);
    color: white;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 75px var(--body-side-padding);
}

.disable-after::after{
    display: none !important; 
}
