*{
    box-sizing: border-box;
}

html{
    --body-side-padding: 200px;
    --background-color: #232830;

    font-family: "Poppins", sans-serif;
    background-color: var(--background-color);
    color: white;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 75px var(--body-side-padding);
}

.divider{
    display: block;
    height: 1px;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    border-top: 1px solid #4D4D4D;
    position: absolute;
    left: 0;
}

.disable-after::after{
    display: none !important; 
}
