*{
    box-sizing: border-box;
}

html{
    --body-side-padding: 200px;
    --background-color: #232830;

    font-family: "Poppins", sans-serif;
    background-color: var(--background-color);
    color: white;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 75px var(--body-side-padding);
}

@keyframes hide-fade {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes show-fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

.show-fade::after{
    animation: show-fade 0.5s;
}

.hide-fade::after{
    animation: hide-fade 0.5s;
}

.disable-after::after{
    display: none !important; 
}
